.row-restaurants {
    display: flex;
}

.imageRest {
    background-image: url(../pictures/1.png);
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    height: 200px;
    background-size: contain;
}

.text {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
}

.buttons {
    margin-left: 150px;
    margin-top: 20px;
}

.col-info {
    margin-left: 30px;
    margin-top: 10px;
}

.rest {
    width: 1000px;
    height: 1000px;
    margin-top: 100px;
    opacity: 0.9;
    border-radius: 10px;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 19px 40px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1300px;
    height: 100px;
    opacity: 1.2;
    border-radius: 10px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.288);
    box-shadow: 0 5px 4px rgb(0 0 0 / 30%), 0 1px 1px rgb(0 0 0 / 22%);
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.search {
    margin-left: 10px;
}

.filt {
    margin-left: 10px;
    margin-right: 20px;
    width: 200px;
}

.btn-search {
    width: 30px;
    margin-left: 50px;
}